.bar {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 16px 0px;
  margin-bottom: 16px;

  background-color: #d9fc59;

}

.search-container {
  position: relative;
}

.button {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0px;
  left: 0px;

  padding: 6px 6px;

  border: none;
  border-radius: 4px;
  background-color: #ffffff;

  cursor: pointer;
}

.input {
  width: 250px;
  height: 24px;
  padding-left: 28px;

  border: none;
  border-radius: 4px;

  transition: outline 100ms ease-in-out;
}

.input:focus {
  outline: 2px solid #fc00a4;
}
