*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0px 0px 30px 0px;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #111111;
  display: block;
}

p{
  margin: 0;
}

img{
  display: block;
}